<div
  class={{bem this.block modifiers=(hash
    style=this.urlSegments
  )}}
  ...attributes
>
  <Application::Header />
  <main class="c-application__content">
    {{yield}}
  </main>
  <Application::Footer />
</div>