{{project-detail/header project=project data-preview-background=project.slug}}

<div style="position: relative; z-index: 2; padding-top: 100vh;">
  {{project-detail/summary project=project}}

  {{partial projectTemplate}}
</div>
