<div class={{elem 'wrapper'}}>
  {{#animated-each
    projects
    initialInsertion=true
    finalRemoval=true
    use=listTransition
    duration=600
  as |project index|
  }}
    {{project-list/preview
      project=project
      index=index
    }}
  {{/animated-each}}
</div>
