/* Do not delete or use this file. Use assets/styles instead */

/* TODO: Move fonts into assets */
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-Bold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-BoldItalic.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-BoldItalic.woff")
      format("woff");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-Italic.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-Italic.woff")
      format("woff");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-Light.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-Light.woff")
      format("woff");
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-LightItalic.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-LightItalic.woff")
      format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono"), local("IBMPlexMono"),
    url("/assets/fonts/ibm-plex-mono/woff2/IBMPlexMono-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/ibm-plex-mono/woff/IBMPlexMono-Regular.woff")
      format("woff");
}

/* jersey-10-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/jersey-10/jersey-10-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
