/* ==========================================================================
  # PAGE
  ========================================================================== */

.scope {
  display: grid;
  align-items: center;
  justify-content: center;
  height: var(--vh)
}
