<div
  class={{bem this.block modifiers=(hash
    style=this.urlSegments
  )}}
  ...attributes
>
  <Application::Header />

  <div class={{bem this.block "flash-messages"}}>
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Notification @flash={{flash}} />
    {{/each}}
  </div>

  <main class="c-application__content">
    {{yield}}
  </main>
  <Application::Footer />
</div>
