/* ==========================================================================
   # VIEW TRANSITIONS
   ========================================================================== */

:root {
  view-transition-name: none;
}

::view-transition {
  clip-path: inset(var(--spacing-small));
}

::view-transition-group(*) {
  animation-duration: 750ms;
  animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
}

::view-transition-group(.morph) {
  z-index: 1;
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
