/* ==========================================================================
  #PAGE
  ========================================================================== */

@import "setup";

:scope {
  block-name: c-page;
  flex-grow: 1;
}

  @each $page, $colors in $page-colors {
    :scope#{page-state($page)} {
      $background: map-get($colors, 'background');
      background: radial-gradient($background, darken($background, 3%));
      color: map-get($colors, 'typo');
    }
  }

  .wrapper {
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: 0px;
    padding: spacing('giant');
  }

  :scope[size=full] .wrapper {
    max-width: 100%;
    padding: 0;
  }

  :scope[size=small] .wrapper {
    max-width: $wrapper-width-small
  }


   .huge-text {
     position: absolute;
     top: 70px;
     left: 300px;
     width: 1650px;
     font-weight: bold;
     font-size: 15vw;
     font-family: $font-family-decoration;
     line-height: 1;
     transform: rotate(90deg) translate(0, -100%);
     transform-origin: top left;
   }
