/* ==========================================================================
   #PAGE
   ========================================================================== */

.c-page {
  flex-grow: 1;

  @include page-color('self') using ($colors) {
    $background: map-get($colors, 'background');

    background: radial-gradient($background, darken($background, 3%));
    color: map-get($colors, 'typo');
  }

  &__wrapper {
    max-width: $inuit-wrapper-width;
    margin-right: auto;
    margin-left: 0px;
    padding: spacing('giant');
  }

  &--size-full &__wrapper {
    max-width: 100%;
    padding: 0;
  }

  &--size-small &__wrapper {
    max-width: $inuit-wrapper-width--small;
  }

  &__huge-text {
    position: absolute;
    top: 70px;
    left: 300px;
    width: 1650px;
    font-weight: bold;
    font-size: 15vw;
    font-family: $font-decoration;
    line-height: 1;
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: top left;
  }
}
