.c-project-preview {
  position: relative;
  flex-shrink: 0;
  margin: auto spacing();
  width: 40vw;
  height: 36vh;
  background-color: $color-grey;
  background-position: bottom center;
  background-size: cover;
  box-shadow: 0px 0px spacing('large') rgba(34, 34, 34, 0.6);
  cursor: pointer;

  @include page-color($modifierElement: 'self', $property: 'color', $type: 'typo');

  &--active {
    z-index: 999;
  }

  &__header {
    position: absolute;
    bottom: spacing();
    left: spacing();
  }
}





/* Project Images
   ========================================================================== */

.c-project-preview {
  &--binuu {
    background-image: url('projects/binuu/binuu_preview.jpg');
  }

  &--eels {
    background-image: url('projects/eels/eels_preview.jpg');
  }

  &--disaster-mgmt {
    background-image: url('projects/disaster-mgmt/disaster-mgmt_preview.jpg');
  }

  &--ad-hoc {
    background-image: url('projects/ad-hoc/ad-hoc_preview.jpg');
  }

  &--flutkoerper {
    background-image: url('projects/flutkoerper/flutkoerper_preview.jpg');
  }
}





/* Media Queries
   ========================================================================== */

@include mq($until: tablet) {
  .c-project-preview {
    position: relative;
    flex-shrink: 0;
    width: 70vw;
    height: 30vh;
    background-color: $color-grey;
  }
}
