.c-project-list-preview {
  position: relative;
  flex-shrink: 0;
  margin: auto spacing('huge');
  width: 40vw;
  height: 36vh;
  background-color: $color-grey;
  background-position: bottom center;
  background-size: cover;
  // @include page-color($modifierElement: 'self', $property: 'color', $type: 'typo');
  color: #000;
  // filter: grayscale(1);
  cursor: pointer;

  &--eels {
    margin-top: 10vh;
  }

  &--ad-hoc {
    margin-top: 40vh;
  }

  &--disaster-mgmt {
    margin-top: 25vh;
  }

  &--binuu {
    width: 32vw;
  }

  &--active {
    z-index: 999;
  }

  &__header {
    position: absolute;
    bottom: spacing('base+small');
    left: spacing();
    transform: translateY(100%);
  }

    &__title {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }

  &__index {
    position: absolute;
    top: 12px;
    left: - spacing();
    border-bottom: 1px solid #000;
    transform: translateY(80%);
  }

  &__meta {
    position: absolute;
    top: spacing();
    right: - spacing('small+tiny');
    width: 100px;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 0%;
  }
}





/* Project Images
   ========================================================================== */

.c-project-list-preview {
  &--binuu {
    background-image: url('projects/binuu/binuu_preview.jpg');
  }

  &--eels {
    background-image: url('projects/eels/eels_preview.jpg');
  }

  &--disaster-mgmt {
    background-image: url('projects/disaster-mgmt/disaster-mgmt_preview.jpg');
  }

  &--ad-hoc {
    background-image: url('projects/ad-hoc/ad-hoc_preview.jpg');
  }

  &--flutkoerper {
    background-image: url('projects/flutkoerper/flutkoerper_preview.jpg');
  }
}





/* Media Queries
   ========================================================================== */

@include mq($until: tablet) {
  .c-project-preview {
    position: relative;
    flex-shrink: 0;
    width: 70vw;
    height: 30vh;
    background-color: $color-grey;
  }
}
