/* ==========================================================================
   # PROJECT DETAIL
   ========================================================================== */

.c-project-detail {
  &__content {
    position: relative;
    z-index: 2;
    padding-top: 100vh;
  }

  &__wrapper {
    margin-top: spacing('small');

    @include page-color('.c-project-detail') using ($colors) {
      background-color: map-get($colors, 'background');
      color: map-get($colors, 'typo');
    }
  }
}
