{{! template-lint-disable no-bare-strings }}
<div block:scope wrapper:scope ...attributes>
  <Mobiledoc::Renderer @mobiledoc={{@project.content}} />
  <h2>Projekt Beschreibung</h2>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h2>Projekt Beschreibung</h2>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Test Ende</h1><br><br><br><br><br><br><br><br>
</div>
