/* ==========================================================================
   # BUTTON
   ========================================================================== */

/*
 * Button Object for basic styling
 */

.o-btn {
  display: inline-block;
  padding: spacing('tiny') spacing();
  border: 1px solid $color-black;
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  @include inuit-font-size($inuit-global-font-size--small);
}





/* Size variants
   ========================================================================== */

.o-btn--full {
  width: 100%;
}





/* Shape variants
   ========================================================================== */

.o-btn--round {
  border-radius: spacing();
}
