/* ==========================================================================
   #LAYOUT EXTENSION
   ========================================================================== */

/**
 * Extend inuitcss layout to fix the letter-spacing bug.
 */

$inuit-global-letter-spacing: 0.02em !default;

.o-layout {
  @if ($inuit-use-markup-fix == false) {
    letter-spacing: 0;
  }

  &__item {
    padding-bottom: spacing();
    @if ($inuit-use-markup-fix == false) {
      letter-spacing: $inuit-global-letter-spacing;
    }
  }
}
