/* ==========================================================================
   # PROJECT LIST PREVIEW
   ========================================================================== */

@import "setup";

:scope {
  block-name: c-project-list-preview;
  position: relative;
  flex-shrink: 0;
  margin: auto spacing('huge+large');
  width: 35vw;
  height: 36vh;
  cursor: pointer;
  color: $color-black;
}

  :scope[style=binuu] {
    margin-top: 32vh;
  }

  :scope[style=eels] {
    margin-top: 30vh;
  }

  :scope[style=disaster-mgmt] {
    margin-top: 20vh;
  }

  :scope[style=ad-hoc] {
    margin-top: 40vh;
  }

  :scope[style=flutkoerper] {
    margin-top: 15vh;
  }

  :scope[active] {
    z-index: 999;
  }

  .container {
    width: 100%;
    height: 100%;
  }

    .background {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }

    @each $page, $colors in $project-colors {
      .background#{style-state($page)} {
        background-image: url('projects/#{$page}/#{$page}_preview.jpg');
      }
    }

    .header {
      position: absolute;
      bottom: spacing('base+small');
      left: spacing('base');
      transform: translateY(100%);
    }

      .index {
        position: absolute;
        top: 12px;
        left: - spacing();
        border-bottom: 1px solid $color-black;
        transform: translateY(80%);
      }

      .title {
        margin-bottom: spacing('small');
        text-shadow: 0 0 250px $color-white;
      }

      .subtitle {
        text-shadow: 0 0 250px $color-white;
      }

    .meta {
      position: absolute;
      top: - spacing('base+small');
      right: spacing('small');
      width: 100px;
      text-align: right;
      text-transform: uppercase;
      line-height: 1;
    }





/* Media Queries
   ========================================================================== */

@include mq($until: tablet) {
  :scope {
    width: 80vw;
    height: 40vh;
  }
}
