/* ==========================================================================
   # PROJECT LIST / PREVIEW
   ========================================================================== */

.scope {
  position: relative;
  flex-shrink: 0;
  margin: auto var(--spacing-huge-large);
  width: 35vw;
  height: 36vh;
  cursor: pointer;

  &--style-binuu {
    margin-top: 32vh;
  }

  &--style-eels {
    margin-top: 30vh;
  }

  &--style-disaster-mgmt {
    margin-top: 20vh;
  }

  &--style-ad-hoc {
    margin-top: 40vh;
  }

  &--style-flutkoerper {
    margin-top: 15vh;
  }

  &--is-active {
    z-index: 999;
  }
}

  .container {
    width: 100%;
    height: 100%;
  }

    .preview-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .header {
      position: absolute;
      bottom: var(--spacing-base-small);
      left: var(--spacing-base);
      transform: translateY(100%);
    }

      .index {
        position: absolute;
        top: 12px;
        left: calc(var(--spacing-base) * -1);
        border-bottom: 1px solid var(--color-black);
        transform: translateY(80%);
      }

      .title {
        margin-bottom: var(--spacing-small);
        text-shadow: 0 0 250px var(--color-white);
      }

      .subtitle {
        text-shadow: 0 0 250px var(--color-white);
      }

    .meta {
      position: absolute;
      top: calc(var(--spacing-base-small) * -1);
      right: var(--spacing-small);
      width: 100px;
      text-align: right;
      text-transform: uppercase;
      line-height: 1;
    }





/* Media Queries
   ========================================================================== */

@media (width < 768px) {
  .scope {
    width: 80vw;
    height: 40vh;
  }
}
