/* ==========================================================================
   # PROJECT LIST / PREVIEW
   ========================================================================== */

.scope {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  margin: auto 0;

  &--is-active {
    z-index: 999;
  }
}

  .container {
    width: 100%;
    height: 100%;
    position: relative;
  }

    .preview-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      &--style-meinezeit {
        object-position: bottom 0% right 15%;
      }
    }

    .header {
      position: absolute;
      bottom: var(--spacing-base-small);
      left: var(--spacing-base);
      transform: translateY(100%);
    }

      .index {
        position: absolute;
        top: var(--spacing-base-small);
        left: calc(var(--spacing-base) * -2);
        border-bottom: 1px solid var(--color-black);
        transform: translateY(80%);
      }

      .title {
        margin-bottom: var(--spacing-small);
      }

      .title-inverted {
        position: absolute;
        top: 0;
        left: 0;
        width: 33.5vw;
        height: 36px;
        overflow: hidden;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-large);
        line-height: 0.9;
        font-size: var(--font-size-h1);
        font-weight: bold;
      }

      .subtitle {
        text-shadow: 0 0 250px var(--color-white);
      }

    .tags {
      position: absolute;
      top: calc(var(--spacing-base) * -1);
      right: 0;
      text-align: right;
    }





/* Media Queries
   ========================================================================== */

@media (width < 768px) {
  .scope {
    width: calc(0.8 * var(--vw));
    height: calc(0.4 * var(--vh));
    padding: 0 calc(0.1 * var(--vw));
  }

  .title-inverted {
    width: calc(0.8 * var(--vw) - var(--spacing-base));
  }
}


@media (width > 768px) {
  .scope {
    width: calc(0.4 * var(--vw));
    height: calc(0.36 * var(--vh));
    padding: 0 calc(0.1 * var(--vw));
  }

  .title-inverted {
    width: calc(0.4 * var(--vw) - var(--spacing-base));
  }
}
