<div class="o-wrapper u-margin-top u-padding-top u-padding-bottom-huge">
  {{custom-field "eels_section_1" @project}}<br>
  {{custom-field "eels_section_2" @project}}<br>
  <div class="o-layout o-layout--large">
    <div class="o-layout__item u-1/2">
      {{@project.content}}
    </div>
    <div class="o-layout__item u-1/2">
      {{@project.content}}
    </div>
  </div>
</div>
