<div class="o-layout">
  <div class="o-layout__item u-10/12">
    <h1>New Project</h1>
  </div>
  <div class="o-layout__item u-2/12 u-align-right">
    {{#link-to 'admin.projects.new'}}New{{/link-to}}
  </div>
</div>

{{admin-form model=model}}
