///* ========================================================================
//   # FONTS
//   ======================================================================== */

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono Bold'),
    local('IBMPlexMono-Bold'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-Bold.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-Bold.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono Bold'),
    local('IBMPlexMono-Bold'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-BoldItalic.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-BoldItalic.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono Italic'),
    local('IBMPlexMono-Italic'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-Italic.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-Italic.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono Light'),
    local('IBMPlexMono-Light'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-Light.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-Light.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono Light'),
    local('IBMPlexMono-Light'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-LightItalic.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-LightItalic.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    local('IBMPlexMono'),
    url('fonts/ibm-plex-mono/woff2/IBMPlexMono-Regular.woff2') format('woff2'),
    url('fonts/ibm-plex-mono/woff/IBMPlexMono-Regular.woff') format('woff');
}
