///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


/* Typographic
   ========================================================================== */

// Baseline
$inuit-global-baseline:               8px;

// Base font size
$inuit-global-font-size:              18px;
$inuit-global-font-size--small:       14px;
$inuit-global-font-size--tiny:        12px;


// Heading sizes
$inuit-font-size-h1:                  76px;
$inuit-font-size-h2:                  36px;
$inuit-font-size-h3:                  $inuit-global-font-size;
$inuit-font-size-h4:                  $inuit-global-font-size--small;
$inuit-font-size-h5:                  $inuit-global-font-size--small;
$inuit-font-size-h6:                  $inuit-global-font-size--small;

$inuit-font-size-mobile-h1:           26px;
$inuit-font-size-mobile-h2:           $inuit-global-font-size;
$inuit-font-size-mobile-h3:           $inuit-global-font-size;
$inuit-font-size-mobile-h4:           $inuit-global-font-size--small;
$inuit-font-size-mobile-h5:           $inuit-global-font-size--small;
$inuit-font-size-mobile-h6:           $inuit-global-font-size--small;

// Line height
$inuit-global-line-height:            26px;

// Letter spacing
$inuit-global-letter-spacing:         0em;

// Font family
$font-default:                        'IBM Plex Mono', Courier, monospace;


/* Color
   ========================================================================== */

// Base colors
$color-primary:                     #46A7C9;
$color-secondary:                   rgb(92, 109, 159);
$color-black:                       #000;
$color-white:                       #fff;

// Shades of grey
$color-grey--lighter:               #fbfbfb;
$color-grey--light:                 #f6f6f6;
$color-grey:                        #dfdfdf;
$color-grey--dark:                  #e3e3e3;
$color-grey--darker:                #14120f;


$page-colors: (
  'default': (
    'primary'     : #000000,
    'secondary'   : #000000,
    'typo'        : #000000,
    'background'  : #f2f2f2
  ),
  'ad-hoc': (
    'primary'     : #008d84,
    'secondary'   : #055751,
    'typo'        : #ffffff,
    'background'  : #ffffff
  ),
  'eels': (
    'primary'     : #4a4747,
    'secondary'   : #2e2e2e,
    'typo'        : #000000,
    'background'  : #ffffff
  ),
  'binuu': (
    'primary'     : #eff24e,
    'secondary'   : #e8eb49,
    'typo'        : #ffffff,
    'background'  : #ffffff
  ),
  'disaster-mgmt': (
    'primary'     : #ffa045,
    'secondary'   : #eb8c30,
    'typo'        : #ffffff,
    'background'  : #ffffff
  ),
  'flutkoerper': (
    'primary'     : #ffffff,
    'secondary'   : #f1e7df,
    'typo'        : #000000,
    'background'  : #ffffff
  )
);



/* Stuff
   ========================================================================== */

// Border
$border-width--small:               1px;
$border-width:                      2px;
$border-width--large:               4px;
$border-width--huge:                10px;

// Transition
$transition--base:                  0.3s ease-in-out;





/* Breakpoints
   ========================================================================== */

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 1024px,
    wide:    1200px,
    huge:    1600px
);





/* Objects
   ========================================================================== */

// Object Layout
$inuit-use-markup-fix:              false;

// Object Wrapper
$inuit-wrapper-width--small:        1100px;
$inuit-wrapper-width:               1700px;





/* Utilities
   ========================================================================== */

// Utilities Widths
$inuit-fractions:                   1 2 3 4 5 6 12;
$inuit-offsets:                     true;
