/* ==========================================================================
   # GLOBALS
   ========================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


/* Spacing
  ======================================================================== */

// Baseline
$baseline:               6px;

// Spacing
$spacing-tiny:           $baseline * 1;
$spacing-small:          $baseline * 2;
$spacing-base:           $baseline * 4;
$spacing-large:          $baseline * 8;
$spacing-huge:           $baseline * 16;
$spacing-giant:          $baseline * 32;





/* Typographic
  ======================================================================== */

// Base font size
$font-size:              16px;
$font-size-small:        14px;
$font-size-tiny:         12px;


// Heading sizes
$font-size-h1:           76px;
$font-size-h2:           20px;
$font-size-h3:           18px;
$font-size-h4:           18px;
$font-size-h5:           18px;
$font-size-h6:           18px;

// Letter spacing
$letter-spacing:         0rem;
$letter-spacing-large:   0.3rem;

// Font family
$font-family:            'IBM Plex Mono', Courier, monospace;
$font-family-decoration: 'Playfair Display', Times;





/* Color
  ======================================================================== */

// Main colors
$color-primary:         #46A7C9;
$color-secondary:       #5c6d9f;
$color-black:           #000;
$color-white:           #ffffff;

// Shades of grey
$color-grey-lighter:    #fbfbfb;
$color-grey-light:      #f6f6f6;
$color-grey:            #e9e9e9;
$color-grey-dark:       #bdbdbd;
$color-grey-darker:     #14120f;

// State colors
$color-error:           #f5633e;
$color-warning:         #ff9f51;
$color-success:         #6bcca7;
$color-info:            #ffffe8;

$page-colors: (
  'default': (
    'primary'     : #fff,
    'secondary'   : #fff,
    'typo'        : #333333,
    'background'  : #f5f5f5
  ),
  'about': (
    'primary'     : #121212,
    'secondary'   : #fff,
    'typo'        : #f2f2f2,
    'background'  : #111111
  ),
  'ad-hoc': (
    'primary'     : #008d84,
    'secondary'   : #242a30,
    'typo'        : #f2f2f2,
    'background'  : #181d1f
  ),
  'eels': (
    'primary'     : #e63f94,
    'secondary'   : #e0dbdb,
    'typo'        : #333333,
    'background'  : #f2f2f2
  ),
  'binuu': (
    'primary'     : #ebf20d,
    'secondary'   : #343434,
    'typo'        : #f2f2f2,
    'background'  : #202020
  ),
  'disaster-mgmt': (
    'primary'     : #ffa045,
    'secondary'   : #4e4e4e,
    'typo'        : #f2f2f2,
    'background'  : #383636
  ),
  'flutkoerper': (
    'primary'     : #f14242,
    'secondary'   : #f1e7df,
    'typo'        : #333333,
    'background'  : #f2f2f2
  )
);





/* Media queries
   ======================================================================== */

$mq-breakpoints: (
  mobile:  576px,
  tablet:  768px,
  desktop: 1024px,
  wide:    1200px,
);





/* Stuff
  ======================================================================== */

// Border
$border-width-small:     1px;
$border-width:           2px;
$border-width-large:     4px;
$border-width-huge:      10px;

// Transition
$transition-base:        0.3s ease-in-out;
$transition-slow:        0.6s ease-in-out;




/* Objects
========================================================================== */
// Object Wrapper
$wrapper-width-small:    1100px;
$wrapper-width:          1700px;
