/* ==========================================================================
   # APPLICATION FOOTER
   ========================================================================== */

@import "setup";
@block link from "styles/objects/objects.link.block.scss";

:scope {
  block-name: c-application-footer;
  position: relative;
}
  .wrapper {
    position: fixed;
    right: spacing('large+small');
    bottom: 0;
    left: spacing('large+small');
    z-index: 900;
    display: flex;
    font-weight: bold;
    transition: transform $transition-base;
    transform-origin: 100% 100%;
    transform: translate(0, 150%);

    @include font-size($font-size-small);
  }

  :scope[is-toggled] .wrapper {
    transform: translate(0, 0);
    bottom: spacing('base');
  }

    .social {
      margin: 0;
      width: 50%;
    }

      .item {
        display: inline-block;

        &::after {
          content: '—';
        }

        &:last-child::after {
          content: '';
        }
      }

    .copy {
      width: 50%;
      text-align: right;
      text-transform: lowercase;
    }






/* Media Queries
   ========================================================================== */

@include mq($until: tablet) {
  .wrapper {
    right: spacing('base+small');
    left: spacing('base+small');
  }
}

@export (link)
