.scope {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.message {
  position: relative;
  z-index: 2;
  text-align: justify;
  hyphens: auto;
  text-transform: uppercase;
}

.title {
  display: inline;
  font-size: inherit;
}

.message p {
  display: inline;
}

.message:hover .fragment, .message:hover .title {
  opacity: 0.2;
}

.message .fragment:hover,
.message .title:hover {
  color: #fff;
  opacity: 1 !important;
}

.huge-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}





/* Media Queries
   ========================================================================== */

@media (width < 768px) {
  .message {
    margin: var(--spacing-giant) var(--spacing-base) var(--spacing-base) var(--spacing-base);
    width: calc(var(--vw) - var(--spacing-large));
    height: calc(var(--vh) - var(--spacing-giant) - var(--spacing-base));
  }
}


@media (width >= 768px) {
  .message {
    margin: var(--spacing-giant) var(--spacing-large) var(--spacing-large) var(--spacing-large);
    width: calc(var(--vw) - var(--spacing-huge));
    height: calc(var(--vh) - var(--spacing-giant) - var(--spacing-large));
  }
}
