/* ==========================================================================
   #APPLICATION FOOTER
   ========================================================================== */

.c-application-footer {
  position: relative;

  &__wrapper {
    position: fixed;
    right: spacing('large+small');
    bottom: - spacing();
    left: spacing('large+small');
    z-index: 900;
    display: flex;
    font-weight: bold;
    transition: bottom $transition--base;
    transform-origin: 100% 100%;

    @include inuit-font-size($inuit-global-font-size--small);
  }

  &--toggled &__wrapper{
    bottom: spacing('base');
  }

    &__navigation {
      margin: 0px;
      width: 50%;
      text-transform: lowercase;
    }

      &__item {
        display: inline-block;

        &:not(:last-child)::after {
          content: '—';
        }
      }

    &__copy {
      width: 50%;
      text-align: right;
      text-transform: lowercase;
    }
}
