/* ==========================================================================
   #APPLICATION FRAME
   ========================================================================== */

$frame-segment-width: spacing('small');

.c-application-frame {
  position: fixed;
  z-index: 998;

  &__segment {
    position: fixed;
    transition: background-color 1s ease-in-out;
    // background-image: linear-gradient(70deg, #84fab0 10%, #8fd3f4 90%);

    @include page-color($property: 'background-color', $type: 'primary');

    &--top {
      top: 0px;
      right: 0px;
      left: 0px;
      height: $frame-segment-width;
      transform: rotate(180deg);
    }

    &--right {
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: $frame-segment-width;
      transform: rotate(180deg);
    }

    &--bottom {
      right: 0px;
      bottom: 0px;
      left: 0px;
      height: $frame-segment-width;
    }

    &--left {
      top: 0px;
      bottom: 0px;
      left: 0px;
      width: $frame-segment-width;
    }
  }
}
