/* ==========================================================================
   # APPLICATION
   ========================================================================== */

.c-application {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  border-width: spacing('small');
  border-style: solid;
  transition: all $transition--slow;

  @include page-color('self') using ($colors) {
    border-color: map-get($colors, 'primary');
  }

  &__flash-messages {
    position: fixed;
    bottom: spacing();
    right: spacing();
    z-index: 998;
  }

  &__content {
    position: relative;
    min-height: 100%;
    transition: all $transition--base;
  }
}
