/* ==========================================================================
   #APPLICATION CONTENT
   ========================================================================== */

.c-application-content {
  position: relative;
  z-index: 1;
  background-color: #fff;
}
