/* ==========================================================================
   #APPLICATION WRAPPER
   ========================================================================== */

.c-application-wrapper {
  position: relative;
  padding: spacing('small');
  min-height: 100vh;
  height: 1px;
}
