/* ==========================================================================
   #MOBILEDOC EDITOR
   ========================================================================== */

@import "setup";

:scope {
  block-name: c-mobiledoc-editor;
}

  .toolbar {
    display: flex;
    padding: spacing('tiny');
    background-color: $color-grey;

    align-items: center;
  }

    .divider {
      margin: 0 spacing('tiny');
      width: 1px;
      height: spacing('small');
      background-color: $color-grey-darker;
    }

    .button {
      margin: 0;
      padding: spacing('tiny');
      height: spacing('base+tiny');
      border: 0;
      border-radius: 3px;
      background-color: transparent;
      -webkit-appearance: none;

      @include attention() {
        background-color: $color-grey-dark;
      }
    }

    .button[is-active] {
      background-color: red;
    }
