/* ==========================================================================
   # PROJECT DETAIL HEADER
   ========================================================================== */

@import "../../../assets/styles/settings/settings.scope-styles.css";

.scope {
  position: fixed;
  top: var(--spacing-small);
  right: var(--spacing-small);
  bottom: var(--spacing-small);
  left: var(--spacing-small);
  color: var(--color-typo);
}

  .background {
    width: 100%;
    height: 100vh;
    background-color: var(--color-grey);
    background-position: center center;
    background-size: cover;
  }

  .header {
    position: absolute;
    bottom: var(--spacing-large);
    left: var(--spacing-large);
    width: calc(40vw - #{var(--spacing-base)});
  }

    .title {
      margin-bottom: var(--spacing-small);
      text-transform: uppercase;
      text-shadow: 0 0 250px var(--color-white);
      letter-spacing: 0.3rem;
    }

    .subtitle {
      display: block;
    }





/* Media queries
   ========================================================================== */

@media (max-width: 768px) {
  .header {
    bottom: var(--spacing-base);
    left: var(--spacing-base);
    width: 80vw;
  }
}
