/* ==========================================================================
   #Forms
   ========================================================================== */

/**
 * Simple default style for all form elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */

/* Input
   ========================================================================== */

input:not([type=submit]):not([type=file]):not([type=search]) {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width--small;
  border-style: solid;
  border-color: $color-black;

  @include inuit-font-size($inuit-global-font-size);

  &:focus {
    outline: none;
  }
}

input:not([type=button]) {
  border: 0px;
}





/* Textarea
   ========================================================================== */

textarea {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width--small;
  border-style: solid;
  border-color: $color-black;

  &:focus {
    outline: none;
  }
}





/* Label
   ========================================================================== */

label {
  display: block;
  color: $color-black;

  @include inuit-font-size($inuit-global-font-size--small);
}
