/* ==========================================================================
   # TEXTAREA
   ========================================================================== */

/**
 * Simple default style for all textarea elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */

textarea {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-black;

  &:focus {
    outline: none;
  }
}
