/* ==========================================================================
   # EXTEND PAGE
   ========================================================================== */

html,
body {
  overflow: hidden;
  height: 100%;
}
body {
  text-transform: lowercase;
  letter-spacing: $inuit-global-letter-spacing;
  font-family: $font-default;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
