/* ==========================================================================
   # INPUT
   ========================================================================== */

/**
 * Simple default style for all input elements. Anything more opinionated
 * than simple basic style changes should likely be applied via classes
 */

input:not([type=submit]),
input:not([type=file]),
input:not([type=search]),
input:not([type=range]),
input:not([type=checkbox]) {
  padding: spacing('small');
  width: 100%;
  border-width: $border-width-small;
  border-style: solid;
  border-color: $color-black;

  @include font-size($font-size);

  &:focus {
    outline: none;
  }
}

input:not([type=button]) {
  border: 0px;
}
