/* ==========================================================================
   # APPLICATION COOCKIE NOTICE
   ========================================================================== */

@import 'setup';
@block link from 'styles/objects/objects.link.block.scss';
@block button from 'styles/objects/objects.button.block.scss';

:scope {
  block-name: c-application-cookie-notice;
  position: fixed;
  bottom: spacing('base');
  z-index: 999;
  max-height: calc(100vh - #{spacing('large')});
  background-color: $color-white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  color: $color-black;
  transition: transform 0.3s ease-in-out;
  transform: translate(0, 150%);
}

:scope[is-visible] {
  transform: translate(0, 0);
}

  .header {
    font-weight: bold;
  }

  .content {
    overflow: auto;
  }

    .message {
      flex-grow: 1;
    }

    .settings {
      display: flex;
      align-items: flex-start;
      margin-top: spacing('base');
      width: 100%;
    }

      .option {
        margin-bottom: spacing('tiny');
      }





/* Media queries
  ========================================================================== */

@include mq($until: tablet) {
  :scope {
    right: spacing('small');
    bottom: spacing('small');
    left: spacing('small');
    padding: spacing('small');

    @include font-size($font-size-small);
  }

    .content {
      flex-direction: column;
    }

      .settings {
        flex-direction: column;
      }

        .button {
          margin-bottom: spacing('tiny');

          &:last-child {
            margin-bottom: 0;
          }
        }

        .option {
          margin-bottom: spacing('tiny');
        }
}

@include mq($from: tablet) {
  :scope {
    right: spacing('large+small');
    bottom: spacing('large+small');
    left: spacing('large+small');
    padding: spacing('base');
  }

    .settings {
      flex-direction: row;
    }

      .spacer {
        flex-grow: 1;
      }

      .button {
        margin-right: spacing('tiny');

        &:last-child {
          margin-right: 0;
        }
      }

      .option {
        margin-right: spacing('base');
      }
}

@export (link, button)

