<img
  src={{this.payload.imgSrc}}
  alt={{this.payload.alt}}
>
{{#if this.editCard}}
  <button
    class="meme-card__btn"
    type="button"
    {{on "click" this.editCard}}>
    {{t "admin.action.edit"}}
  </button>
{{/if}}
