/* ==========================================================================
   # SCOPE STYLES TO IMPORT
   ========================================================================== */

/* Pages */
.scope--style-default {
  --color-primary     : #fff;
  --color-secondary   : #fff;
  --color-typo        : #333333;
  --color-background  : #f5f5f5;
}
.scope--style-imprint {
  --color-primary     : #fff;
  --color-secondary   : #fff;
  --color-typo        : #333333;
  --color-background  : #f5f5f5;
}
.scope--style-privacy {
  --color-primary     : #fff;
  --color-secondary   : #fff;
  --color-typo        : #333333;
  --color-background  : #f5f5f5;
}
.scope--style-projects {
  --color-primary     : #fff;
  --color-secondary   : #fff;
  --color-typo        : #333333;
  --color-background  : #f5f5f5;
}
.scope--style-about {
  --color-primary     : #121212;
  --color-secondary   : #fff;
  --color-typo        : #f2f2f2;
  --color-background  : #111111;
}
.scope--style-error {
  --color-primary     : #041aac;
  --color-secondary   : #fff;
  --color-typo        : #f2f2f2;
  --color-background  : #0015a3;
}

/* Projects */
.scope--style-ad-hoc {
  --color-primary     : #008d84;
  --color-secondary   : #242a30;
  --color-typo        : #f2f2f2;
  --color-background  : #181d1f;
}
.scope--style-eels {
  --color-primary     : #e63f94;
  --color-secondary   : #e0dbdb;
  --color-typo        : #333333;
  --color-background  : #f2f2f2;
}
.scope--style-binuu {
  --color-primary     : #ebf20d;
  --color-secondary   : #e0dbdb;
  --color-typo        : #333333;
  --color-background  : #f2f2f2;
}
.scope--style-disaster-mgmt {
  --color-primary     : #ffa045;
  --color-secondary   : #4e4e4e;
  --color-typo        : #f2f2f2;
  --color-background  : #383636;
}
.scope--style-flutkoerper {
  --color-primary     : #6d91f5;
  --color-secondary   : #f1e7df;
  --color-typo        : #333333;
  --color-background  : #f2f2f2;
}

