{{#if this.session.isAuthenticated}}
  <div block:scope>
    <ul block:class="list">
      <li block:class="item">
        <LinkTo @route="admin.projects">
          {{t "navigation.projects"}}
        </LinkTo>
      </li>
      <li block:class="item">
        <LinkTo @route="admin.pages">
          {{t "navigation.pages"}}
        </LinkTo>
      </li>
      <li block:class="item">
        <button type="button" {{on "click" this.signOut}}>
          {{t "navigation.signOut"}}
        </button>
      </li>
    </ul>
  </div>
{{/if}}
