/* ==========================================================================
   # APPLICATION ADMIN NAVIGATION
   ========================================================================== */

// Imports
@import 'setup';


// Block
:scope {
  block-name: c-application-admin-navigation;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 902;
  text-align: center;

  @include font-size($font-size-small, false);
}

  .list {
    margin: 0;
    padding: spacing('small');
    background-color: $color-black;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    color: $color-white;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    transition: transform $transition-base;
    transform: translate(0, -100%);
  }

  :scope:hover .list {
    transform: translate(0, 0);
  }

    .item {
      display: inline-block;
    }
