<Page @size="small">
  <h1>404 - Not Found</h1>
  A fatal exception 404 has occurred at C0DE:ABAD1DEA in 0xC0DEBA5E. The current
  request will be terminated.<br>
  <br>
  * Press the return key to return to the previous page.<br>
  * Press CTRL+ALT+DEL to restart your computer. You will lose any unsaved
  information in all applications.<br>
  <br>
  Press any key to continue...█
</Page>
