<div class="c-page c-page--style-error">
  <div class="o-wrapper">
    <div layout:scope>
      <div layout:class="item" layout:desktop="width-1-2">
        <div class="c-page__huge-text">
          {{this.model.code}} - {{this.model.message}}
        </div>
      </div>
      <div layout:class="item" layout:desktop="width-1-2">

      </div>
    </div>
  </div>
</div>
