/* ==========================================================================
   # APPLICATION
   ========================================================================== */

@import "../../assets/styles/settings/settings.scope-styles.css";

.scope {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  background: var(--color-background);
  color: var(--color-typo);
  border-width: var(--spacing-small);
  border-style: solid;
  transition: background-color var(--transition-slow),
              color var(--transition-slow);
}

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .frame {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 901;
    border-color: var(--color-primary);
    border-width: var(--spacing-small);
    border-style: solid;
    pointer-events: none;
    transition: border-width 0.6s cubic-bezier(1,-0.01,.67,.92),
                border-color var(--transition-slow) 0.4s;
  }

  .scope--navigation-is-open .frame {
    border-width: 50vw;
  }





/* Media Queries
   ========================================================================== */

@media (max-width: 768px) {
  .content {
    min-height: 101%;
  }
}


@media (min-width: 768px) {
  .content {
    min-height: 100%;
  }
}
