/* ==========================================================================
   # APPLICATION
   ========================================================================== */

@import 'setup';

:scope {
  block-name: c-application;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  border-width: spacing('small');
  border-style: solid;
  transition: background-color $transition-slow,
              color $transition-slow;
}

@each $page, $colors in $page-colors {
  :scope#{style-state($page)} {
    background: map-get($colors, 'background');
    color: map-get($colors, 'typo');
  }
}

@each $project, $colors in $project-colors {
  :scope#{style-state($project)} {
    color: map-get($colors, 'typo');
  }
}

  .flash-messages {
    position: fixed;
    right: spacing('base');
    bottom: spacing('base');
    z-index: 998;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    border-width: spacing('small');
    border-style: solid;
    transition: border-color $transition-slow;
    pointer-events: none;;
  }

  @each $page, $colors in $page-colors {
    :scope#{style-state($page)} .frame {
      border-color: darken(map-get($colors, 'primary'), 10%);
    }
  }

  @each $project, $colors in $project-colors {
    :scope#{style-state($project)} .frame {
      border-color: darken(map-get($colors, 'primary'), 10%);
    }
  }
