/* ==========================================================================
   #FONT UTILITIES
   ========================================================================== */

/* Align items
   ========================================================================== */

$inuit-widths-breakpoint-separator: \@ !default;

$align: (
 left,
 center,
 right
);

// Align items
@each $align-direction in $align {
 .u-align-#{$align-direction} {
   text-align: $align-direction !important;
 }
}

// Align items responsive
@each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {
  @include mq($from: $inuit-bp-name) {
    @each $align-direction in $align {
      .u-align-#{$align-direction}#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
        text-align: $align-direction !important;
      }
    }
  }
}
