{{! template-lint-disable }}
<Page>
  <div class={{bem this.styles}} layout:scope>
    <div layout:class="item" layout:desktop="width-1-2">
      <div class={{bem this.styles "huge-text"}}>
        getting a<br />
        picture of me
      </div>
    </div>
    <div layout:class="item" layout:desktop="width-1-2">
      <h1>{{@model.title}}</h1>
      {{{@model.html}}}
    </div>
  </div>
</Page>