<Page @style={{this.model.slug}}>
  <div layout:scope>
    <div layout:class="item" layout:desktop="width-1-2">
      <div class="c-page__huge-text">
        getting a<br>
        picture of me
      </div>
    </div>
    <div layout:class="item" layout:desktop="width-1-2">
      <h1>{{this.model.title}}</h1>
      <Mobiledoc::Renderer @mobiledoc={{this.model.content}} />
    </div>
  </div>
</Page>
