<div class="o-wrapper o-wrapper--small u-margin-top-huge u-padding-top-huge u-padding-bottom-huge">
  <h1>About</h1>
  I'm a UI/UX Designer and Developer based in Berlin. Currently I'm working for AgProp GmbH as a Interaction Designer and Front-End Developer with a focus on conception and implementation of Single-Page application. <br>



  <h2 class="u-margin-top-huge">EDUCATION</h2>
  10/2010 — 3/2016<br>
  <strong>University of Applied Sciences, Potsdam</strong><br>
  Bachelor of Arts in Interface Design<br><br>

  10/2009 — 9/2010<br>
  <strong>University of Fine Arts, Hamburg</strong><br>
  Basic Studies in Time-Related Media<br>



  <h2 class="u-margin-top-huge">WORK EXPERIENCE</h2>
  03/2016 — today<br>
  <strong>AgProp GmbH, Berlin</strong><br>
  UX & Front-End Development<br><br>

  02/2008 — today<br>
  <strong>Freelancer</strong><br>
  UI/UX Design & Development<br><br>

  09/2014 — 2/2015<br>
  <strong>AgProp GmbH, Berlin</strong><br>
  UI/UX Design, Intern
</div>
