<div block:scope block:style={{@project.slug}} ...attributes>
  <div block:class="excerpt">
    <Mobiledoc::Renderer @mobiledoc={{@project.excerpt}} />
  </div>
  <div block:class="meta-info">
    <Mobiledoc::Renderer @mobiledoc={{@project.facts}} />
  </div>
</div>
