/* ==========================================================================
   # PROJECT DETAIL / SUMMARY
   ========================================================================== */

.scope {
  display: flex;
  margin: 0 var(--spacing-small);
  background-color: var(--color-secondary);
  color: var(--color-typo);
  flex-wrap: wrap;
}

  .meta-info {
    font-size: var(--font-size-small);
  }





/* Media Queries
   ========================================================================== */

@media (width < 768px) {
  .scope {
    padding: var(--spacing-small);
  }

    .excerpt {
      width: 100%;
    }

    .meta-info {
      padding-top: var(--spacing-base);
      width: 100%;
    }
}


@media (width >= 768px) {
  .scope {
    padding: var(--spacing-base-small);
  }

    .excerpt {
      width: 66.6666%;
    }

    .meta-info {
      padding-left: var(--spacing-huge);
      width: 33.3333%;
    }
}
