/* ==========================================================================
   #MOBILEDOC EDITOR
   ========================================================================== */

.c-mobiledoc-editor {
  &__toolbar {
    display: flex;
    padding: spacing('tiny');
    background-color: $color-grey;

    align-items: center;
  }

    &__divider {
      margin: 0 spacing('tiny');
      width: 1px;
      height: spacing('small');
      background-color: $color-grey--darker;
    }

    &__button {
      margin: 0;
      padding: spacing('tiny');
      height: spacing('base+tiny');
      border: 0;
      border-radius: 3px;
      background-color: transparent;

      -webkit-appearance: none;
      @include attention() {
        background-color: $color-grey--dark;
      }

      &--is-active {
        background-color: red;
      }
    }
}
